.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-flex;
  width: auto;
  margin: 30px;
  font-family: Courier, monospace;
  font-size: 20px;
  padding-left: 70px;
  padding-right: 70px;
}
.color {
  color: #a6b6bb;
  text-decoration: none;
}
.color:hover {
  color: rgb(61, 89, 112);
}
.Minea-picture {
  width: 150px;
  height: 300px;
}
