.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-flex;
  width: auto;
  margin: 20px;
  font-family: Courier, monospace;
  font-size: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
.color {
  color: #afa593;
  text-decoration: none;
}
.color:hover {
  color: rgb(61, 89, 112);
}
.front-pic {
  padding-left: 100px;
  padding-right: 200px;
  padding-top: 40px;
}
.home-content {
  padding-top: 150px;
  padding-left: 200px;
}
.organize {
  display: flex;
}
h1 {
  font-size: 60px;
  font-family: Courier, monospace;
  color: #afa593;
}
.about-div {
  background-color: #afa593;
}
p {
  font-family: Courier, monospace;
  font-size: 20px;
  color: white;
  padding: 150px;
}
